.ng-invalid.ng-dirty
{
	border-color: red;
}

.ng-valid.ng-dirty
{
	border-color: green;
}

/* MINE */

.invalidForm
{
	background-color: rgba(255, 0, 0, 0.3);
}

.hidden
{
	display: none;
}

.hidden2,
.newStudent.hidden2
{
	visibility: hidden;
}

.highlight
{
	/*background-color: green;*/
}

.failing
{
	background-color: yellow!important;
}

.studentsContainer
{
	border: 1px solid black;
	text-align: center;
}

.currentStudent,
.newStudent
{
	position: relative;
}

.studentsContainer div
{
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	border: 1px solid black;
}

div.columnLabels
{
	border: none;
}

.columnLabels div
{
	border-top: none;
	border-left: none;
	border-right: none;
}

.currentStudent div input
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: inherit;
	background-color: inherit;
	border: none;
}

.currentStudent .deleteBtn,
.newStudent .submitBtn
{
	position: absolute;
	top: 20px;
	bottom: 20px;
	padding: 0 5px;
}

.newStudent
{
	visibility: visible;
}

.name,
.score
{
	height: 3em;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

.name
{
	width: 10em;
}

.score
{
	width: 6em;
}