.ng-invalid.ng-dirty
{
	border-color: red;
}

.ng-valid.ng-dirty
{
	border-color: green;
}

/* MINE */

.hidden
{
	display: none;
}

.hidden2,
.newStudent.hidden2
{
	visibility: hidden;
}

.highlight
{
	/*background-color: green;*/
}

.studentsContainer
{
	border: 1px solid black;
	text-align: center;
}

.currentStudent div
{
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	border: 1px solid black;
}

.currentStudent div input
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: inherit;
	border: none;
}

.newStudent
{
	visibility: visible;
}

.name,
.score
{
	height: 3em;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

.name
{
	width: 10em;
}

.score
{
	width: 6em;
}