<!DOCTYPE html>
<html ng-app="gemStore">
<head>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/products.js"></script>

</head>
<body ng-controller="StoreController as store">
	<!-- FIND ME YO -->
	<script type="text/javascript">
	// Thanks to http://html5tutorial.net/tutorials/working-with-html5-localstorage.html
	// Also to http://samcroft.co.uk/2013/using-localstorage-to-store-json/
	// Also to http://stackoverflow.com/questions/3138564/looping-through-localstorage-in-html5-and-javascript
		/*if (typeof(localStorage) == 'undefined' )
		{
			alert('Your browser does not support HTML5 localStorage. Try upgrading.');
		}
		else
		{
			if (localStorage.getItem("name") === null)
			{
				try
				{
					localStorage.setItem("name", "Hello World!"); //saves to the database, “key”, “value”
					console.log('name set!');
				}
				catch (e)
				{
					if (e == QUOTA_EXCEEDED_ERR)
					{
						alert('Quota exceeded!'); //data wasn’t successfully saved due to quota exceed so throw an error
					}
				}
			}
			else
			{
				console.log('name already exists!');
			}
			document.write(localStorage.getItem("name")); //Hello World!
			//localStorage.removeItem("name"); //deletes the matching item from the database
		}*/
		var debug = false;
		var students = [
			{mary: 75},
			{joe: 32}
		];
		var mary = {mary: 75};
		var joe = {joe: 32};
		var studentsJSON = JSON.stringify(students);
		if (typeof(localStorage) == 'undefined' )
		{
			alert('Your browser does not support HTML5 localStorage. Try upgrading.');
		}
		else
		{
			if (localStorage.getItem('students') === null)
			{
				try
				{
					localStorage.setItem('students', studentsJSON); //saves to the database, “key”, “value”
					if (debug) { console.log('students set!'); }
				}
				catch (e)
				{
					if (e == QUOTA_EXCEEDED_ERR)
					{
						alert('Quota exceeded!'); //data wasn’t successfully saved due to quota exceed so throw an error
					}
				}
			}
			else
			{
				if (debug) { console.log('students array already exists!'); }
			}
			if (debug) { document.write(localStorage.getItem('students')); } //Hello World!
			//localStorage.removeItem('students'); //deletes the matching item from the database
			var studentsJSONparsed = JSON.parse(localStorage.getItem('students'));
			if (debug) { console.log(studentsJSONparsed); }
			//console.log("mary's score = " + studentsJSONparsed.mary);
			studentsJSONparsed.forEach(function(key, value)
			{
			    if (debug) { console.log(key + ' = ' + value); }
			});

		}
	</script>

	<div class="studentList" ng-controller="ReviewController as reviewCtrl">
		<!-- Students -->
		<div class="student" ng-repeat="product in reviewCtrl.products" ng-click="reviewCtrl.setActive($index)">
			<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview()" novalidate>
				<!--<blockquote>
					<strong>{{reviewCtrl.review.stars}} Stars</strong>
					{{reviewCtrl.review.body}}
					<cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
				</blockquote>-->

				<fieldset>
					<div class="name">
						{{product.name}}
						<input type="text" placeholder="Name..." title="Review" ng-model="reviewCtrl.review.name" ng-show="reviewCtrl.checkActive($index)" required />
					</div>

					<div class="score">
						{{product.score}}
						<input type="number" placeholder="Score..." title="Email" ng-model="reviewCtrl.review.score" ng-show="reviewCtrl.checkActive($index)" required />
					</div>
					
					<!-- <input type="submit" value="Add Student" /> -->
				</fieldset>
			</form>
			<br>
		</div>

		<!--  Add student Form -->
		<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview()" ng-show="reviewCtrl.checkActive(-1)" novalidate>
			<!--<blockquote>
				<strong>{{reviewCtrl.review.stars}} Stars</strong>
				{{reviewCtrl.review.body}}
				<cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
			</blockquote>-->

			<fieldset>
				<input class="name" type="text" placeholder="Name..." title="Review" ng-model="reviewCtrl.review.name" required></textarea>

				<input class="score" type="number" placeholder="Score..." title="Email" ng-model="reviewCtrl.review.score" required />
				
				<input type="submit" value="Add Student" />
			</fieldset>
		</form>
	</div>

</body>
</html>